/* ATRRIBUTE SELECTOR
a[target] 
{
    background-color: aqua;
}
[title~=acad]{
    border: 5px solid yellow;

}
    [class|=top]{    border: 5px solid green;
    }
    [class^=top]{    font-size: 25px;
    }
    [class*=con]{    font-size: 15px;  border: 5px solid black
    }
    [class$=con]{    font-size: 15px;  border: 5px solid pink
    }
    input[type=text]{
        background-color: blueviolet;
        margin: 15px; display: block; width: 150px;
        font-size: 20px;
    }
    
    input[type=button]{
        background-color: lightblue;
     
        font-size: 20px;
    }
    *****************''''''
    FORM**********************
    input
     {
    box-sizing:border-box ;       
     border: 4px solid red;  
        
    }
    
    input:focus{
        border:none;  
        border-bottom: 4px solid green;  
        outline: 4px solid purple; 
        outline-offset: 5px;

    }
    input[type=search]{
        border: 4px solid gray; 
        box-sizing: border-box; 
        width: 33.33%;
        margin: 12px 4px;
        padding: 12px 20px 12px 40px; font-size: 23px;
        background: url("./searchicon\ \(3\).png") ;
        background-repeat: no-repeat;
        background-position: 10px 10px;
        background-size: 25px;
        background-color: rgb(236, 230, 230);
        transition: width 0.4s ease-in-out;
    }
    textarea{
        width: 100%; height: 150px;
        padding: 12px 12px;
        border: 3px solid blue; border-radius: 4px;
        background-color: #f8f8f8; font-size: 16px;
        box-sizing: border-box; resize: none;
    }
    
    ********RESPONSIVE FORM STYLING
  * {
      box-sizing: border-box;
  }
  input[type=text], select, textarea{
      width: 100%;
    padding: 12px;
    border: 4px solid #ccc; border-radius: 4px;
    resize: vertical;
  }
  
  label{
      font-size: 25px; display: inline-block;
  }
  input[type=submit]{
      background-color: #04AA6D;
      padding: 12px 20px; border: none;
      cursor: pointer; float: right;
  }
   input[type=submit]:hover{
    background-color: #45a;
}
.container{
    background-color: #f2f2f2; padding: 20px;
    border-radius: 5px;
}
.col-25{
    float: left; width: 250px; margin-top: 6px;
}
.col-75{
    float: right; width: 459px; margin-top: 6px;
}
.row{
    content: " "; display: table; clear: both;
}
@media screen and (max-width:600px) {
    .col-25,.col-75, input[type=submit]{
        width: 100%; margin-top: 0;
    }
}



******** WEBSITE LAYOUT***********
*{
    box-sizing: border-box;
}

 .header{
     background-color: #ccc;
     text-align: center;padding: 15px; font-family: 'Courier New', Courier, monospace; font-size: 25px;
 }
 div h1{
    font-size: 30px;
    font-weight: bolder;
}
.topnav{
    overflow: hidden;
    background-color: #fefe;
    height: auto;
     width: 100%;float: right; display: block;
}
.topnav a{
    float: right;
    font-size: 24px; padding: 20px;
    text-decoration: none; 
}
.topnav a:hover   {
    background-color: rgba(13, 194, 119, 0.158);
    
}
.column{
    padding: 10px;
    width: 30%; float: right; font-size: 25px;

}
.column p{
   font-size: 22px;
}
@media screen and (max-width:600px) {
    .column,.header,.topnav,.input,.label,.submit{
        width: 100%;
    }
}
.row{
    content: " "; display: table; clear: both;
}

input[type=text], input[type=password]{
    background-color: antiquewhite;
    padding: 12px 14px; width: 100%; margin: 15px; 
}
.label{
    font-size: 24px;
    float: left; margin: 15px;
}
.input{
    float: left; padding-left: 25px;
}
.submit{
    background-color: aquamarine; border: none;
   font-size: 22px; padding: 10px 19px; float:right;
  
}
.container{
    background-color: #ccc;
     border-radius: 4px;
    width: 50%; padding: 20px;
}


************RESPONSIVE LAYOUT***********************************/
*{
    box-sizing:border-box ;
}
body{
    font-family: Arial;
    padding: 10px;
    background-color: #f1f1f1;
}
.header{
    padding: 30px; text-align: center;background-color: white;
}
.header h1{
    font-size: 50px;
}
.topnav{
    overflow: hidden;
    background-color: #333;
}
.topnav a{
   float: left; display: block; color: white;
   text-align: center; padding: 14px 15px; text-decoration: none;
}
.topnav a:hover{
    background-color: #ddd;
    color: #333;
 } 
 .leftcolumn{
    float: left;
width: 65%; padding: 20px;
display: block;
}

.rightcolumn{
    float: left;
    width: 35%; 
    padding-left: 20px; background-color: blue; margin-top: 25px;
}
.card{background-color: white; padding: 20px; margin-top: 20px;
    font-size: 22px;
}
.container{
    content: ""; display: table; clear: both;
}
.footer{
    padding: 20px; text-align: center; background-color: #ddd;
    margin-top: 20px;
}
@media screen and(max-width:800px){
    .leftcolumn,.rightcolumn{
        width: 100%;padding:0 ;
    }
    
}
@media screen and(max-width:400px){
    .topnav a{
        width: 100%;float: none ;
    }
    
}